* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#map {
    height: 100vh;
}

/* .wrapper  */
.info {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 91%;
    left: 4%;
    z-index: 999;
    cursor: pointer;
    transition: 0.5s all;
}

.mobNav {
    display: none;
}

.navButtons {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 999;
    flex-direction: row;
    gap: 10px
}

.button {
    width: auto;
    height: 60px;
    padding: 5px 20px;
    background-color: #F76C6C;
    color: white;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s all;
}


label {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 61px;
    color: black;
    margin-left: 5%;
}

.form-inner input,
.form-inner textarea {
    margin-left: 5%;
    display: block;
    width: 90%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.form-inner input[type="submit"] {
    margin-top: 30px;
    background: #f69a73;
    border-bottom: 4px solid #d87d56;
    color: white;
    font-size: 14px;
}

.text-danger-route {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-size: 10px;
    line-height: 61px;
    color: black;
    margin-left: 5%;
}

.modal-filter {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 75%;
    bottom: 12%;
    left: 30%;
    z-index: 999;
    background-image: url('../img/bg1.png');
    background-size: cover;
    border-radius: 20px;
    display: none;
}

.btns {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    gap: 3%
}

#MyGeolocation {
    position: absolute;
    background-image: url('../img/marker/my_location_gm_blue_18dp.png');
    width: 35px;
    height: 35px;
    left: 97%;
    background-repeat: no-repeat;
    z-index: 999;
    bottom: 5%;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    transition: 0.3s all;
}

.closeb {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.close-container {
    position: relative;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.close-filter {
    position: fixed;
    display: flex;
    margin: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s all;
}

@media (hover:hover) {
    .close-filter:hover {
        transform: scale(1.08);
    }

    .btnFilter:hover {
        transform: scale(1.05);
    }

    .info:hover {
        transform: scale(1.07);
    }

    .button:hover {
        transform: scale(1.07);
        box-shadow: 0px 0px 20px 2px grey;
    }

    #MyGeolocation:hover {
        transform: scale(1.05);
    }
}

.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block-information {
    position: absolute;
    width: 600px;
    height: 577px;
    background-color: #FFFFFF;
    border-radius: 15px;
    bottom: 90px;
    left: 30%;
    z-index: 999;
    box-shadow: 0px 0px 10px 2px grey;
    display: none;
}

.block-route {
    left: 30%;
    bottom: 80px;
    position: absolute;
}

.active2 {
    display: block;
}

.markerImg {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 45px;
    left: 65px;
}

.mark {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 43px;
    margin-left: 95px;
    margin-top: -45px;
}

.marker2 {
    margin-top: 60px;
}

.img2 {
    margin-top: 60px;
}

.marker3 {
    margin-top: 60px;
}

.img3 {
    margin-top: 120px;
}

.marker4 {
    margin-top: 60px;
}

.img4 {
    margin-top: 180px;
}

.marker5 {
    margin-top: 60px;
}

.img5 {
    margin-top: 240px;
}

.marker6 {
    margin-top: 65px;
}

.img6 {
    margin-top: 300px;
}

.marker7 {
    margin-top: 65px;
}

.img7 {
    margin-top: 360px;
}

.marker8 {
    margin-top: 60px;
}

.img8 {
    margin-top: 420px;
}

.markers {
    margin-left: 30px;
    margin-top: 40px;
}

.btnFilter {
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    color: #000000;
    transition: 0.3s all;
}

.btnLink {
    background-color: #f69a73;
    color: white
}

.btnFilter:focus {
    background-color: #78CAF8;
}

.btnFilter_ener {
    width: 310px;
}

.btnDanger {
    grid-column: 1/3;
    background-color: #F76C6C;
    color: white;
}

.btnDanger:focus {
    background-color: #F76C6C;
}

.block-modal1 {
    position: absolute;
    width: fit-content;
    max-width: 50%;
    height: 70%;
    background-color: #FFFFFF;
    border-radius: 15px;
    left: 25%;
    z-index: 999;
    box-shadow: 0px 0px 10px 2px grey;
    display: none;
    overflow-y: scroll;
}

.active1_culture {
    display: flex;
    bottom: 15%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.title-object {
    width: 442px;
    /* margin-left: 17%; */
    margin-top: -50px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 49px;
    color: #000000;
    text-align: center;
}

.img-culture {
    width: 350px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px gray;
}

.content-modal {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-align: justify;
    width: 95%;
    /* margin-left: 2%;
    margin-top: 1%; */
    text-indent: 40px;
}

.img-people {
    margin: 10px 0;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px gray;
}

.route {
    height: 650px;
}

@media (max-width:900px) {
    .info {
        top: 15px;
        left: 50px;
        width: 45px;
        height: 45px;
    }

    .navButtons {
        display: none;
    }

    .mobNav {
        background-color: rgba(229, 218, 214, 0.9); 
        z-index: 999;
        display: flex;
        position: absolute;
        width: 70%; 
        bottom: 25px;
        height: 80px; 
        margin: 0 15%; 
        border-radius: 20px; 
        justify-content: space-around;
        align-items: center; 
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }
    
    .button {
        width: 60px; 
        height: 60px; 
        border-radius: 50%;
        background-color: #f4bbbb; 
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }
    
    .button img {
        width: 24px;
        height: 24px;
    }

    .btn3 {
        width: 70px;
        height: 70px;
    }
    
    .close-filter {
        margin-left: auto;
        width: 30px;
        height: 30px;
    }
    

    .block-information {
        width: 80%;
        height:fit-content;
        max-height: 60%;
        left: 10%;
        top: 10%;
        overflow-y: scroll;
    }

    .form-inner {
        height: 100%; 
        left: 10px;
        overflow-y: scroll;
    }

    .img-culture {
        margin: 10px 0;
    }

    .markerImg {
        left: 10px;
        width: 40px;
        height: 40px;
    }

    .mark {
        font-size: 19px;
    }

    .markers {
        margin-left: -40px;
        margin-top: 40px;
    }

    .modal-filter {
        left: 12%;
        width: 75%;
        bottom: 10%;
    }

    #MyGeolocation {
        left: 86%;
        bottom: 92.5%;
    }

    .block-modal1 {
        margin: 0;
        width: 90%;
        max-width: 80%;
        height: 80%;
        top: 10%;
        left: 10%;
    }

    /* .img-people {
        width: 100px;
        height: 50px;
    } */

    .title-object {
        margin: 0;
        margin-top: -30px;
        font-size: 20px;
        text-align: center;
        width: 80%;
    }

    /* .content-modal {
        font-size: 10px;
    } */

}

.rating input {
    display: none;
}

.rating label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpolygon fill='gold' points='10,1,4,19.8, 19,7.8,1,7.8,16,19.8'%3E%3C/polygon%3E%3C/svg%3E");
    display: inline-block;
    width: 20px;
    height: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.rating input:checked~label {
    filter: grayscale(1);
}