* {
    box-sizing: border-box;
}

:root {
    --blue: #1e90ff;
    --white: #ffffff;
  }
  
body {
    font-family: 'Montserrat Alternates', sans-serif;
    background: var(--white);
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    position: fixed;
    justify-self: center;
    max-width: 1200px;
    width: 100%;
    border: 20px solid white;
    border-bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    background-color: var(--white);
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-title {
    color: var(--white); 
    font-size: 24px; 
    text-align: center; 
    flex-grow: 1; 
}

.banner {
    position: relative; 
    background: require('../img/image-PhotoRoom 1.png') no-repeat center center/cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    text-align: center;
    padding: 20px;
}

.banner-content {
    position: relative;
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    z-index: 2; 
}

.banner-content h1 {
    font-size: 48px;
    margin: 0 0 20px;
    font-weight: 700;
    color: var(--blue);
}

.banner-content p {
    font-size: 20px;
    margin: 0 0 20px;
    color: var(--blue);;
}

a {
    text-decoration: none;
}

.map-btn {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); 
    width: 200px;
    color: var(--blue);
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Добавляем эффект тени */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.map-btn:hover {
    background-color: var(--blue);
    color: var(--white);
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); 
}

.map-img {
    width: 30px; 
    height: auto; 
    margin-right: 10px; 
}

:root {
    --black: #000;
    --primary-color: #3498db; /* Основной цвет */
    --hover-color: #2980b9; /* Цвет при наведении */
    --button-bg: #2ecc71; /* Цвет кнопки */
    --button-hover-bg: #27ae60; /* Цвет кнопки при наведении */
}

.wrapper {
    position: relative;
}

.nav {
    background-color: var(--primary-color);
    padding: 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-menu {
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
}

.line {
    height: 4px;
    width: 100%;
    background-color: var(--white);
    transition: all 0.3s ease;
}

.burger-menu:hover {
    transform: scale(1.1);
}

.block-burger {
    z-index: 999;
    display: none;
    position: fixed;
    top: 15%;
    left: 20%;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.block-burger.active2 {
    display: flex;
}

.burger-content {
    background: var(--white);
    padding: 20px;
    border-radius: 10px;
    max-width: 220px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.button {
    background-color: var(--hover-color);
    display: flex;
    width: 100%;
    border: none;
    color: var(--white);
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.back {
    background-color: #27ae60;
}

.button:hover {
    background-color: var(--button-hover-bg);
    transform: scale(1.05);
}

@media (hover: hover) {
    .burger-menu:hover .line {
        background-color: var(--hover-color);
    }
}

.divider {
    width: 100%;
    height: 4px;
    margin: 20px 0;
    background-color: var(--blue); 
}

.text-glav {
    font-size: 42px;
    text-align: center;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
}

.text-dost {
    font-size: 20px;
    font-weight: bold;
    color: var(--blue);
    margin-bottom: 10px;
}

.text-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.gorod {
    font-size: 18px;
    color: #888;
    margin-bottom: 10px;
}

.text-content {
    font-size: 18px;
    text-align: justify;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
    width: 50%; 
    margin-right: 20px; 

}

.block-dost .content {
    display: flex;
    margin-bottom: 20px; 
}

.block-dost:nth-child(odd) .content {
    flex-direction: row; 
}

.block-dost:nth-child(even) .content {
    flex-direction: row-reverse; 
}


.img-city {
    width: 40%; 
    border-radius: 10px; 
}

.text-content2 {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.img-city {
    width: 45%;
    border-radius: 15px;
    margin: 0 20px;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.btn1>a, .btn2>a {
    color: var(--white);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1, .btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.btn2 {
    background-color: rgb(73, 158, 73);
}

.btn1:hover, .btn2:hover {
    background-color: #2841ff;
}

.text-btn {
    font-size: 14px;
}

.player {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
}

.block-dost {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
}

.text-dost {
    font-size: 24px;
    font-weight: bold;
    color: var(--blue);
    margin-bottom: 10px;
}

.text-name {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.gorod {
    font-size: 20px;
    color: #888;
    margin-bottom: 10px;
}

.close-modal, .close-modal2 {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

@media (max-width: 900px) {
    header {
        border: 0;
    }

    .block-dost:nth-child(even) .content, .block-dost:nth-child(odd) .content {
        flex-direction: column;
    } 

    

    .banner-content h1 {
        font-size: 36px; 
    }

    .banner-content p {
        font-size: 18px; 
    }

    .carta-btn {
        font-size: 14px; 
        padding: 8px 16px; 
    }

    .wrapper {
        width: 100%;
        margin: 0 auto; 
        padding: 10px; 
    }

    .text-glav {
        font-size: 24px; 
        margin: 20px 0; 
    }

    .block-dost {
        flex-direction: column; 
        text-align: center; 
    }

    .img-city {
        width: 100%;

        margin: 10px 0; 
    }

    .button-container {
        flex-direction: column;
        gap: 5px
    }

    .btn1, .btn2 {
        display: flex;
        height: 40px;
        border-radius: 8px;
    }

    .text-dost {
        font-size: 18px; 
    }

    .text-name {
        font-size: 22px; 
    }

    .gorod {
        font-size: 16px; 
    }

    .text-content {
        font-size: 14px; 
        width: 100%;
    }

    .text-content2 {
        font-size: 12px; 
    }

    .btn1, .btn2 {
        padding: 10px; 
        font-size: 12px; 
    }

    .player {
        width: 25px; 
        height: 25px; 
    }

    .nav-container {
        flex-direction: row; 
        align-items: flex-start; 
    }

    .header-title {
        margin-top: 10px; 
    }
}
